---
- locale_gen:
    name: en_US.UTF-8
    state: present

- name: fix LC_ALL
  lineinfile: dest=/etc/default/locale
                regexp='^LC_ALL'
                insertafter=EOF
                line='LC_ALL="en_US.UTF-8"'
                state=present
  register: locale_update


- debug: msg="{{ locale_update.changed }}"

- name: fix LC_ALL
  lineinfile: dest=/etc/default/locale
                regexp='^LC_ALL'
                insertafter=EOF
                line='LC_ALL="en_US.UTF-8"'
                state=present

- name: reconfigure locales
  shell: dpkg-reconfigure locales
  when: locale_update.changed

- name: Install basic packages
  apt:
    state: present
    name:
      - build-essential
      - openssl
      - curl
      - git-core
      - zlib1g
      - zlib1g-dev
      - libssl-dev
      - libyaml-dev
      - libxml2-dev
      - libxslt-dev
      - silversearcher-ag
      - autoconf
      - libc6-dev
      - ncurses-dev
      - automake
      - software-properties-common
      - libtool
      - bison
      - libpcre3
      - libpcre3-dev
      - mosh
      - vim
      - htop
      - fail2ban
      - unattended-upgrades
      - logwatch
      - zsh

- name: Adjust APT update intervals
  copy: src=apt_periodic dest=/etc/apt/apt.conf.d/10periodic
